<%-include('partials/head')-%>

<body>
  <%-include('partials/header') -%>
  <main style="justify-content: center;">
    <h3><%= status %></h3>
    <h3><%= message %></h3>
  </main>
  <%-include('partials/footer') -%>
</body>